header {
  border: 1px solid #c1121f;
  width: 300px;
  height: 90px;
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #c1121f;
  color: white;
}

footer {
  position: fixed;
  width: 100vw;
  text-align: center;
  bottom: 0;
  color: white;
  background-color: #c1121f;
  padding-bottom: 15px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
}

.display-row {
  width: 270px;
  height: 90px;
  padding: 15px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #212121;
}

.screen {
  display: grid;
  justify-items: end;
  width: 255px;
  height: 75px;
  padding: 7.5px;
  color: #e8f1f2;
  overflow: hidden;
  border-radius: 20px;
  background-color: #616161;
}

#history {
  /* border: 1px solid black; */
  width: 100%;
  align-self: start;
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
}

#input {
  /* border: 1px solid black; */
  width: 100%;
  font-size: 30px;
  align-self: end;
  overflow: hidden;
  text-align: end;
}

.buttons {
  /* margin: 0; */
  background-color: #212121;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 7.5px;
  max-width: 300px;

}

button {
  height: 60px;
  width: 60px;
  font-size: 24px;
  margin: 4px 4px;
  border-radius: 50%;
  outline: 0;
  border-style: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-color: #616161;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  border-bottom: 2px solid #212121;
}